form label {
    font-weight: bold;
}

form .form-control,
form .form-select {
    border-radius: 5px;
    padding: 10px;
}

form .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}
